<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.video.model.dao.ReviewDao">
    
    <!-- 모든 리뷰 가져오기 -->
    <select id="selectAll" parameterType="int" resultType="Review">
        SELECT reviewId, userId, videoId, title, content, date_format(regDate, '%Y-%m-%d') as regDate, viewCnt
        FROM review
        WHERE videoId=#{videoId}
    </select>
    
    <!-- id로 리뷰 가져오기 -->
    <select id="selectOne" parameterType="int" resultType="Review">
        SELECT reviewId, userId, videoId, title, content, date_format(regDate, '%Y-%m-%d') as regDate, viewCnt
        FROM review
        WHERE reviewId=#{reviewId}
    </select>
    
    <!-- 리뷰 등록하기 -->
    <insert id="insertReview" parameterType="Review" keyProperty="reviewId" useGeneratedKeys="true">
        INSERT INTO review (userId, videoId, title, content)
        VALUES (#{userId}, #{videoId}, #{title}, #{content})
    </insert>
    
    <!-- 리뷰 수정하기 -->
    <update id="updateReview" parameterType="Review">
        UPDATE review
        SET title=#{title}, content=#{content}, regDate = now()
        WHERE reviewId=#{reviewId}
    </update><!-- 수정 날짜는 따로 안함 -->
    
    <!-- 리뷰 삭제하기 -->
    <delete id="deleteReview" parameterType="int">
        DELETE FROM review
        WHERE reviewId=#{reviewId}
    </delete>
    
    <!-- 조회수 증가 -->
    <update id="updateViewCnt" parameterType="int">
        UPDATE review
        SET viewCnt = viewCnt+1
        WHERE reviewId=#{reviewId}
    </update>
    
    <!-- 회원id로 리뷰 가져오기 -->
    <select id="selectMyReview" parameterType="String" resultType="Review">
		SELECT reviewId, userId, videoId, title, content, date_format(regDate, '%Y-%m-%d') as regDate, viewCnt
		FROM review
		WHERE userId = #{userId}
    </select>

</mapper>
