<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.video.model.dao.VideoDao">

	<!-- 전체글 조회 -->
	<select id="selectAll" resultType="Video">
		SELECT videoId, title, url, fitpart, youtuber, viewCnt, date_format(regDate, '%Y-%M-%d') as regDate 
		FROM video;
	</select>
	
	<!-- 검색기능  -->
	<select id="search" resultType="Video" parameterType="SearchCondition">
		SELECT videoId, title, url, fitpart, youtuber, viewCnt, date_format(regDate, '%Y-%M-%d') as regDate
		FROM video
		<!-- 검색 조건 (동적쿼리)-->
		<where>
    		<if test="key != 'none' and fitpart != 'all'">
         		${key} LIKE concat('%', #{word}, '%') AND fitpart = #{fitpart}
    		</if>
    		<if test="key != 'none'">
         		${key} LIKE concat('%', #{word}, '%')
    		</if>
    		<if test="fitpart != 'all'">
        		fitpart = #{fitpart}
    		</if>
  		</where>
		<!-- 어떤 기준으로 어떤 방향으로 정렬 -->
		<if test="orderBy != 'none'">
			ORDER BY ${orderBy} ${orderByDir}
		</if>
	</select>

	<!-- 상세글 조회 -->
	<select id="selectOne" resultType="Video" parameterType="int">
		SELECT videoId, title, url, fitpart, youtuber, viewCnt, date_format(regDate, '%Y-%M-%d') as regDate
		FROM video
		WHERE videoId = #{videoId};
	</select>

	<!-- 조회수 증가 -->
	<update id="updateViewCnt" parameterType="int">
		UPDATE video
		SET viewCnt = viewCnt+1
		WHERE videoId = #{videoId}
	</update>

</mapper>